|Contributor,
|# Of Contributions,
|Mozilla.org Member <br/>            
- each contributor in contributors
  = contributor.login + ','
  = contributor.contributions + ','
  = contributor.member
  br


  
